%Segoe-700 {
  font-family: "Segoe-UI", sans-serif;
  font-style: normal;
  font-weight: 700;
}

%Segoe-600 {
  font-family: "SegoeUI-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
}

%Inter-400 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

%Inter-500 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
}

%Inter-600 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
}

%display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
